{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 border">
                <h1>Active Listings</h1>
              
            </div>
            <div class="col-md-4 border">  
            </div>
            <div class="col-md-4 border text-center">  
                <a href="{% url 'index' %}"class="btn btn-outline-primary btn-sm mt-2">All listings</a>
            </div>
        </div>
        
        <div class="row">
            {% for listing in listings %}
            <div class="col-md-4 border">
                    <div class="card-header col-md-12">
                        <img  style="max-width:300px;" src={{listing.image.url}}  class="card-img-top" alt="img">
                        <footer class="blockquote-footer">Listing created at: <cite title="Source Title">{{listing.created_at}}</cite></footer>   
                    </div>
                    <div class="card-body col-md-12">
                        <h5 class="card-title">{{listing.title }}</h5>
                        <p class="card-text">
                        <ul>
                            <a href="{% url 'show_categories' listing.category %}"><li>Category: {{ listing.category }}</li></a>
                            <li>Description: {{ listing.content }}</li>
                            <li>Price: ${{ listing.starting_price }}</li>
                        </ul>
                        </p>
                        <a href="{% url 'listing' listing.id %}"class="btn btn-outline-secondary btn-sm">Listing detail</a>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <br>
{% endblock %}